<!DOCTYPE html>
<html>
  <head>
    <title>Edit Soundboard</title>
  </head>
  <body>
    <h1>Edit Soundboard: <%= soundboard.title %></h1>
    <form
      action="/soundboards/<%= soundboard._id %>?_method=PUT"
      method="POST"
      enctype="multipart/form-data"
    >
      <h2>Edit Sound Titles and Select Sounds to Delete</h2>
      <% soundboard.sounds.forEach((sound) => { %>
      <input type="checkbox" name="deleteSounds[]" value="<%= sound._id %>" />
      <input
        type="text"
        name="editTitles[<%= sound._id %>]"
        value="<%= sound.title %>"
      /><br />
      <% }); %>
      <h2>Add New Sounds</h2>
      <input type="button" value="Add New Sound" onClick="addNewSoundField()" />
      <div id="newSoundsContainer"></div>
      <button type="submit">Submit Changes</button>
    </form>
    <script>
      function addNewSoundField() {
        var container = document.getElementById("newSoundsContainer");
        var soundDiv = document.createElement("div");
        soundDiv.innerHTML = `
          <label for="title">Sound Title:</label><br />
          <input type="text" name="newTitle[]" /><br />
          <label for="audioFile">Sound File:</label><br />
          <input type="file" name="audioFile[]" /><br />
        `;
        container.appendChild(soundDiv);
      }
    </script>
    <h2>Delete Soundboard</h2>
    <form
      action="/soundboards/<%= soundboard._id %>?_method=DELETE"
      method="POST"
    >
      <button type="submit">Delete Soundboard</button>
    </form>
  </body>
</html>
