<!DOCTYPE html>
<html>
  <head>
    <title>Edit Soundboard</title>
    <link rel="stylesheet" type="text/css" href="/css/edit.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>Edit Soundboard</h1>
    <form
      action="/soundboards/<%= soundboard._id %>?_method=PUT"
      method="POST"
      enctype="multipart/form-data"
    >
      <h2>Soundboard Details</h2>

      <label for="title">Soundboard Title:</label><br />
      <input type="text" name="title" value="<%= soundboard.title %>" /><br />

      <label for="description">Soundboard Description:</label><br />
      <input
        type="text"
        name="description"
        value="<%= soundboard.description %>"
      /><br />

      <label for="image">Change Image:</label><br />
      <input type="file" name="image" /><br />

      <h2>Edit sound titles and select sound to delete</h2>
      <% soundboard.sounds.forEach((sound) => { %>
      <input type="checkbox" name="deleteSounds[]" value="<%= sound._id %>" />
      <input
        type="text"
        name="editTitles[<%= sound._id %>]"
        value="<%= sound.title %>"
      /><br />
      <% }); %>

      <h2>Add New Sounds</h2>
      <input type="button" value="Add New Sound" onClick="addNewSoundField()" />
      <div id="newSoundsContainer"></div>

      <button type="submit">Submit Changes</button>
    </form>

    <script>
      function addNewSoundField() {
        var container = document.getElementById("newSoundsContainer");
        var soundDiv = document.createElement("div");
        soundDiv.innerHTML = `
          <label for="title">Sound Title:</label><br />
          <input type="text" name="newTitle[]" /><br />
          <label for="audioFile">Sound File:</label><br />
          <input type="file" name="audioFile[]" /><br />
        `;
        container.appendChild(soundDiv);
      }
    </script>

    <h2>Delete Soundboard</h2>
    <form
      action="/soundboards/<%= soundboard._id %>?_method=DELETE"
      method="POST"
    >
      <button type="submit">Delete Soundboard</button>
    </form>
  </body>
</html>
