<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap"
      rel="stylesheet"
    />
    <title>Soundpages</title>
  </head>
  <body>
    <div class="page-border">
      <nav>
        <div class="nav-left">
          <h1>Soundpages</h1>
        </div>
        <div class="nav-right">
          <% if (user) { %>
          <p>Welcome, <%= user.username %>!</p>
          <a href="/logout">Logout</a>
          <% } else { %>
          <a href="/auth/google">Login with Google</a>
          <% } %>
          <a href="/soundboards/create">Create New Soundboard</a>
        </div>
      </nav>
      <div id="soundboards-container">
        <% soundboards.forEach(soundboard => { %>
        <div class="soundboard">
          <a href="/soundboards/<%= soundboard._id %>">
            <% if (soundboard.image && soundboard.image.data) { %>
            <img
              src="data:<%= soundboard.image.contentType %>;base64, <%= soundboard.image.data.toString('base64') %>"
              alt="<%= soundboard.title %>"
              class="soundboard-image"
            />
            <p class="soundboard-name"><%= soundboard.title %></p>
            <% } %>
          </a>
        </div>
        <% }); %>
      </div>
    </div>
  </body>
</html>
