<!DOCTYPE html>
<html>
  <head>
    <title>Soundboard</title>
  </head>
  <body>
    <h1>Soundboard: <%= soundboard.title %></h1>
    <ul>
      <% soundboard.sounds.forEach(sound => { %>
      <li>
        <audio controls>
          <source
            src="/sounds/<%= sound.uniqueID %>"
            type="<%= sound.contentType %>"
          />
        </audio>
        <%= sound.title %>
      </li>
      <% }); %>
    </ul>
    <form action="/soundboards/<%= soundboard._id %>/edit" method="get">
      <button type="submit">Edit</button>
    </form>
  </body>
</html>
