<!DOCTYPE html>
<html>
  <head>
    <title>Soundpages - <%= soundboard.title %></title>
    <link rel="stylesheet" href="/css/show.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap"
      rel="stylesheet"/>
  </head>
  <body>
    <nav>
      <a href="/">
        <h1>Soundpages ☏<% if (user) { %> - welcome, <%= user.username %></h1>
      </a>
      <div>
        <a href="/logout">Logout</a> |
        <a href="/soundboards/create">Create</a> | <% if (user &&
        soundboard.creator && soundboard.creator.equals(user._id)) { %>
          <a href="/soundboards/<%= soundboard._id %>/edit">Edit</a>
        </form>
        <% } %> <% } else { %>
        <a href="/auth/google">Login with Google</a>
        <% } %>
      </div>
    </nav>
    <main>
      <div class="soundboard-header">
        <% if (soundboard.image.data) { %>
        <img
          class="soundboard-image"
          src="data:<%= soundboard.image.contentType %>;base64, <%= soundboard.image.data.toString('base64') %>"
          alt="<%= soundboard.title %>"
        />
        <% } %> <% if (username) { %>
        <h2><%= soundboard.title %> - a collection by <%= username %> ☻</h2>
        <% } %>
      </div>
      <div class="sounds-grid">
        <% soundboard.sounds.forEach(sound => { %>
        <div class="sound-item" id="sound-item-<%= sound.uniqueID %>">
          <div class="key-bind">
            <input
              type="text"
              size="1"
              id="key-<%= sound.uniqueID %>"
              maxlength="1"
              placeholder=""
              oninput="bindKey('<%= sound.uniqueID %>')"
            />
          </div>
          <button
            onclick="playSound('<%= sound.uniqueID %>')"
            class="sound-button"
            id="button-<%= sound.uniqueID %>"
            data-fulltitle="<%= sound.title %>"
          >
            <%= sound.title.slice(0, 29) %>
          </button>
          <audio id="sound-<%= sound.uniqueID %>">
            <source
              src="/sounds/<%= sound.uniqueID %>"
              type="<%= sound.contentType %>"
            />
          </audio>
        </div>
        <% }); %>
      </div>
    </main>
    <footer>
      <p class="soundboard-description"><%= soundboard.description %></p>
    </footer>
    <script>
      let keys = {};
      let originalDescription = "<%= soundboard.description %>";
      let currentSoundTitle = originalDescription; // initialize with default description
      let playingSounds = []; // store ids of playing sounds so we know when nothing is playing
      function playSound(id) {
        let audio = document.getElementById("sound-" + id);
        let item = document.getElementById("sound-item-" + id);
        let description = document.querySelector(".soundboard-description");
        if (audio.paused) {
          audio.play();
          item.style.backgroundColor = "#ae9e7f"; // change button color
          item.style.borderColor = "#9f8f73";
          let completeTitle = document.getElementById("button-" + id).dataset
            .fulltitle;
          let img = document.querySelector(".soundboard-image").cloneNode(true);
          // make a container to hold a new image that will show at the footer
          let container = document.createElement("div");
          container.className = "speaker";
          container.style.display = "flex";
          container.style.alignItems = "center";
          // append cloned image to footer
          container.appendChild(img);
          container.innerHTML += `<span style="vertical-align: middle;">➥ ${completeTitle}</span>`;
          // replace the description with the title of the soundclip playing
          let description = document.querySelector(".soundboard-description");
          description.innerHTML = "";
          description.appendChild(container);
          currentSoundTitle = completeTitle;
          // add sound ID to playing array
          if (!playingSounds.includes(id)) {
            playingSounds.push(id);
          }
        } else {
          audio.pause();
          audio.currentTime = 0;
          item.style.backgroundColor = "#e2cda6"; // restore original button color
          item.style.borderColor = "#bba988";
          // remove sound ID from playing array
          let index = playingSounds.indexOf(id);
          if (index > -1) {
            playingSounds.splice(index, 1);
          }
          // if all sounds have stopped playing
          if (playingSounds.length === 0) {
            // reset the description back to the soundboard description
            description.innerText = originalDescription;
            currentSoundTitle = originalDescription;
          }
        }
        // when audio has stopped playing
        audio.addEventListener("ended", function () {
          item.style.backgroundColor = "#F5DEB3"; // restore original button color
          item.style.borderColor = "#d0bc97";
          // remove sound id from playing sounds id
          let index = playingSounds.indexOf(id);
          if (index > -1) {
            playingSounds.splice(index, 1);
          }
          // check if all sounds have stopped playing
          if (playingSounds.length === 0) {
            // reset the description back to the original description
            description.innerText = originalDescription;
            currentSoundTitle = originalDescription;
          }
        });
      }
      function bindKey(id) {
        let key = document.getElementById("key-" + id).value;
        keys[key.toLowerCase()] = id;
      }
      window.addEventListener("keydown", function (e) {
        let key = e.key.toLowerCase();
        if (keys[key]) {
          playSound(keys[key]);
        }
      });
    </script>
  </body>
</html>
